@tailwind base;
@tailwind components;
@tailwind utilities;

#home {
  background: transparent url("../public/img/background.png") no-repeat 50% fixed;
  background-size: cover;
  height: 36rem;
}

#message {
  resize: none;
}
